#banner-container {
    position: relative;
    width: 100%;
    height: 200px;
    /* Adjust as needed */
    overflow: hidden;
}

#banner-slideshow {
    position: relative;
    width: 100%;
    height: 100%;
}

#banner-slideshow img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
}